# Ignore Node Modules
node_modules

# Ignore Dev Folder
dev

# Ignore Prod Folder
prod

# Misc. Files
.babelrc
.eslintrc
.eslintignore
config.js
npm-debug.log
package.json
.gitignore
dump.rdb
Dockerfile
